@media screen and (max-width: 390px){
  body {
    background-image:url(../assets/garrett-mob2.png);
    width: 390px;
    
  }

  .fond {
    background-image: url(../assets/Rectanglemob28.png);
  }

  header{
    
  }

  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    height: 48px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
  }

  .fond{
    background-image: url(../assets/Rectanglemob28.png);
    width: 390px;
    height: 693px;
  }

  .photo {
    width: 155px;
    height: 130px;
  }

  .story{
    width: 365px;
    font-size: 8px;
  }

  .seemore{
    font-size: 24px;
    width: 228px;
    height: 59px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
