@media screen and (max-width: 390px){
  body {
    background-image:url(../assets/garrett-mob2.png);
    width: 390px;
    height: 100vh;

    
  }

  .fond {
    background-image: url(../assets/Rectanglemob28.png);
  }

  .links, span{
    display: none;
    
  }
  header {
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%);
    box-shadow: none;
  }

  nav {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  }
.home-page{
  left: 5px;
}
.start{
  width: 105px;
  margin-right: 10px;
}

input{
  width: 340px;
  font-size: 14px;
  padding-left: 10px;
}
.btm{
  width: 92px;
  height: 30px;
  font-size: 11px;
}
  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 360px;
    height: 48px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
  }

  .main{
    height: 160px;
  }

  h2{
    font-size: 14px;
  }

  .fot{
    width: 70px;
    height: 70px;
  }

  .foto{
    margin-left: 18px;

  }

  .fond{
    background-image: url(../assets/Rectanglemob28.png);
    width: 390px;
    height: 693px;
  }

  .tour{
    font-size: 10px;
  }

  .photo {
    width: 155px;
    height: 130px;
  }

  .story{
    width: 365px;
    font-size: 8px;
  }

  .seemore{
  font-size: 11px;
    width: 105px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }
.btm{
}
  .strelka{
    width: 10px;
  }
}
